body{
    background-color: #ff9d00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}

header{
    background-color: palevioletred;
}


nav{
    display: flex;
    justify-content: space-between;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    font-weight: 700;
}

nav ul li:hover{
    scale: 1.1;
    cursor: pointer;
}

.nright{
    width: 10vw;
}
.nright ul{
    display: grid;
}

.logo1{
    width: 50px;
}
.nleft{
    width: 90vw;
}
.nleft ul li{
    margin-top: 15px;
}

.nleft ul ul{
    display: flex;
    margin-left: 5px;

}
.nleft ul ul li{
    margin-left: 5px;

}

.logo{
    width: 40px;
}

.b1{
    width: 10vw;
    height: 7vh;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: greenyellow;
    border-radius: 20px;
    border: black solid 2px;
}

.b1:hover{
    scale: 1.2;
    cursor: pointer;
}



.b2{
    width: 9vw;
    height: 7vh;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: greenyellow;
    border-radius: 20px;
    border: black solid 2px;
}

.b2:hover{
    scale: 1.2;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    body{
        background-color: black;
    }
    section{
        display: flex;
        justify-content: space-around ;
        
    }
    header{
        width: 200px;
        height: 97vh;
        border-radius: 20px;
    }
    nav{
        display: grid;
    }
    .nright{
        height: 150px;
        background-color: rgb(163, 29, 52);
        width: 200px;

    }

    .nleft ul li{
        padding-top: 20px;
    }

    .nleft ul li{
        align-items: center;
        margin-top: 0px;
        margin-left: 10px;
    }
    .nleft ul ul li{
        margin-left: 35px;
    }
    .nleft ul{
        display: grid;
        margin-top: 10px;
        margin-right: 0px;
        width: 60px;
    }
    .nleft ul li{
        margin-top: 10px;
    }

    .b1,.b2{
        font-size: 1.1rem;
        width: 100px;
        margin-left: 20px;
        margin-top: 10px;
    }
   

}



.para{
    margin-top: -90px;
}

.p1{
    margin-left: 15px;
}

h3{
    background-color: black;
    text-align: center;
    color: white;
}

.input{
    display: flex;
    justify-content: space-around;
}

.button:hover{
    cursor: pointer;
    scale: 1.1;
}

.button{
    width: 200px;
    height: 8vh;
    background-color: black;
    color: white;
    font-weight: 600;
    border: solid white 3px;
    border-radius: 25px;
    
}

h1{
    font-size: 13vw;
    margin-top: 0px;
    margin-left: 10px;
}

.shop{
    width: 12vw;
    height: 9vh;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: greenyellow;
    border-radius: 20px;
    border: black solid 2px;
    margin-left: 25px;
}

.timg{
    margin-top: 25px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 35px;
}

.product{
    display: flex;
    overflow-y: auto;
    height: auto ;
}


.container{
    display: grid;
}

.shirt{
    width: 300px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    height: 400px;
}

.price{
    margin-left: 120px;
    align-items: center ;
}

.name{
    font-size: 1.2rem;
    font-weight: 600;
}

del{
    color: rgba(255, 0, 0, 0.641);
    font-weight: 500;
    font-size: 1.2rem;
}
.off{
    font-weight: 700;
    color: rgb(29, 133, 117);
    font-size: 1.1rem;

}

.shirt:hover{
    scale:1.2;
    cursor: pointer;
    transition: 2s;
}



video{
    width: fit-content;
    height: 700px;
    border-radius: 30px;
    border: solid 4px aqua;
    margin-top: 35px;
    
}

.small{
    height: 300px;
    margin-top: 50px;
    align-items: end;
    margin-left: 150px;
}

.q{
    font-weight: 600;
    text-align: right;
}

h2{
    font-size: 2rem;
}

.bottom{
    display: flex;
    justify-content: space-around;
}


.third{
    display: flex;
    justify-content: space-around;
    background-color: rgba(205, 95, 131, 0.408);
    border-radius: 30px;

}


ul {
    list-style: none;
}

.th1{
    display: grid;
    width: 20vw;
}

.story{
    width: 100px;
    border-radius: 20px;
    margin-top: 40px;
    
}

.story:hover{
    scale: 1.2;
    transition: 2s;
    cursor: pointer;
}

.th2{
    display: grid;
    width: 75vw;
}

.th2 ul li{
    margin-top: 10px;
    padding: 10px;
}

.sp{
    font-size: 2rem;
    color: black;
}

.sp:hover{
    scale: 1.1;
    transition: 2s;
    color: aqua;
    cursor: pointer;
}

.cheading{
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.c1{
    
    font-weight: 700;
    overflow: hidden;
    width: 400px;
    height: 500px;
}

.c1 div{
    font-size: 1.5rem;
    text-align: center;
    color: #ff9d00;
    margin-top: 50px;
}

.categories{
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;

}

footer{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    background-color: rgb(196, 95, 129);
    border-radius: 30px;
    align-items: center;
}

.f1 li,.f2 li{
    font-size: 1.1rem;
    font-weight: 600;
}

.f1 li:hover,.f2 li:hover{
    color: rgba(192, 19, 19, 0.752);
    cursor: pointer;
}



.top{
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width:700px) {
    main{
        margin-left: 25px;
        height: 95vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    h1{
        font-size: 5rem;
    }
    .top{
        flex-wrap: wrap;
    }

    .shop{
        width: 150px;
        height: 8vh;
        margin-left: 50px;
        
    }

    h2{
        font-size: 1.2rem;
    }
    .timg{
        margin-top: 25px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 35px;
    }
    
}


@media screen and (max-width:1000px) {
    .top{
        flex-wrap: wrap;
    }
    
    .bls{
        display: grid;
    }

    .bottom{
        flex-wrap: wrap;
    }

    .shop{
        margin-right: 50px;
        margin-left: 0px;
        width: 150px;
    }

    .categories{
        flex-wrap: wrap;
    }
    .input{
        flex-wrap: wrap;
    }
    .button{
        margin-top: 10px;
    }

    
}
